<% carCoverClass = locals.large ? 'car-cover-large' : '' %>
<% carGridClass = locals.large ? 'car-grid-large' : '' %>
<div class="car-grid <%= carGridClass %>">
  <% cars.forEach(car => { %>
    <a class="car-title" href="/cars/<%= car.id %>">
      <img class="car-cover <%= carCoverClass %>" src="<%= car.coverImagePaths[0] %>">
      <%= car.title + ' ' + car.price + ' zł' %>
    </a>
  <% }) %>
</div>